{% extends "templatesUsuario/basePerfil.html" %}{% load static %} {% block titulo %}
<title>Agregar Medico</title>

{% endblock titulo %}


<body>
    {% block contendioPerfil %}
    <div class="text-center">
        <h1>Agregar Medico</h1>
        <hr>
    </div>
    <div class="text-start">
        <a class="btn btn-primary" href="{% url 'medicos' %}">volver</a>
        <hr>
    </div>
    <form action="" method="POST">
        {% csrf_token %} {{uform}} {{mform}}

        <div class="mt-5 mb-3 ">
            <div class="row">
                <div class="col text-end me-5">
                    <button class="btn btn-primary" type="submit">Agregar Medico</button>

                </div>
            </div>
        </div>

    </form>



    {% endblock contendioPerfil %}
</body>