{% extends "templatesUsuario/basePerfil.html" %}{% load static %} {% block titulo %}
<title>Agregar Residente</title>

{% endblock titulo %}


<body>
    {% block contendioPerfil %}
    <div class="text-center">
        <h1>Agregar Residente</h1>
        <hr>
    </div>
    <div class="text-start">
        <a class="btn btn-primary" href="{% url 'clientes' %}">volver</a>
        <hr>
    </div>
    <form action="" method="POST">
        {% csrf_token %} {% if exito %}
        <div class="alert alert-success">{{exito}}</div> {% endif %} {{form}}
        <div class="mt-5 mb-3 ">
            <div class="row">
                <div class="col text-end me-5">
                    <button class="btn btn-primary" type="submit">Agregar Residente</button>

                </div>
            </div>
        </div>

    </form>
    {% endblock contendioPerfil %}
</body>