{% extends "templatesUsuario/basePerfil.html" %}{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    {% block titulo %}
    <link rel="stylesheet" href="">
    <title>Seguridad</title>

    {% endblock titulo %}
</head>

<body>
    {% block contendioPerfil %}

    <div class="text text-center" style="color: rgb(89, 79, 79);">
        <h1>Seguridad</h1>
        <hr>
    </div>

    <div>


        <form action="" method="POST">
            {{form.non_field_errors}} {% csrf_token %}

            <div class="ms-3">
                <h6>Seguridad</h6>
            </div>


            <div class="card card-body shadow-sm mb-4">
                <div class="row">
                    <div class="col-md-6 mt-2 mb-3 ">
                        {{form.new_password1}}

                    </div>
                    <div class="col-md-6 mt-2 mb-3 ">
                        {{form.new_password2}}


                    </div>

                </div>
                {% if Cerror %}
                <div class="alert alert-danger">
                    {% for field,errors in form.errors.items %} {% for error in errors %}
                    <ul>
                        <li>{{error}}</li>
                    </ul>

                    {% endfor %} {% endfor %}

                </div>

                {% endif %}


            </div>
            <div class="me-5 text-end">
                <button type="submit" class="btn btn-primary">Actualizar Datos</button>


            </div>




        </form>




        {% endblock contendioPerfil %}