{% extends "templatesUsuario/basePerfil.html" %}{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block titulo %}
    <title>Medicos</title>

    {% endblock titulo %}
</head>

<body>
    {% block contendioPerfil %}

    <div class="text-center">
        <h1>Residente</h1>
        <hr>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Rut</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>

            </tr>
        </thead>
        <tbody>

            {% for r in residenteData %}

            <tr>
                <th scope="row">{{r.id}}</th>
                <td>{{r.rut}} </td>
                <td>{{r.nombre}} </td>
                <td>{{r.apellido}} </td>
                <td> </td>
                <td><a class="btn btn-primary btn-sm" href="../residentes/modificar/{{r.id}}">Ver detalle</a></td>


            </tr>

            {% endfor %}
        </tbody>

    </table> {% endblock contendioPerfil %}
</body>