{% extends "templatesUsuario/basePerfil.html" %}{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block titulo %}
    <title>Lista pagos</title>

    {% endblock titulo %}
</head>

<body>
    {% block contendioPerfil %}

    <div class="text-center">
        <h1>Lista de pagos de {{usuario.first_name}}</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col text-start me-5">
            <a class="btn btn-primary btn-sm" href="{% url 'clientes' %}">Volver</a>

        </div>
        <div class="col text-end me-5">
            <a class="btn btn-primary btn-sm" href="../../clientes/pagoCliente/agregarPago/{{usuario.id}}">Agregar pago</a>

        </div>

    </div>


    <hr>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Fecha de creacion</th>
                <th scope="col">Valor</th>
                <th scope="col">Estado</th>

            </tr>
        </thead>
        <tbody>

            {% for p in pagosData %}

            <tr>
                <th scope="row">{{p.id}}</th>
                <td>{{p.detalle.fecha_creacion}} </td>
                <td>{{p.detalle.servicio.precio}} </td>
                {% if p.estado == True %}
                <td> Pagado </td>
                {% else %}
                <td> No pagado </td>
                {% endif %}

                <td><a class="btn btn-primary btn-sm" href="../pagoCliente/modificarPago/{{p.id}}">Ver detalle/Modificar</a></td>

            </tr>

            {% endfor %}
        </tbody>

    </table> {% endblock contendioPerfil %}
</body>