{% extends "templatesLanding/base.html" %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block titulo %}
    <link rel="stylesheet" href="{% static 'css/cssLanding/contacto.css' %}">
    <title>Perfil</title>

    {% endblock titulo %}
</head>

<body>
    {% block contenido %}

    <div class="container-fluid py-5">

        <div class="row ">
            <div class="col-lg-3 mb-3">
                <div class="card card-body shadow-sm">
                    <div class="text-center">
                        <h1>Menu</h1>
                        <hr>
                    </div>
                    <div>
                        <a href="{% url 'perfil' %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'perfil' %}  active {% endif %} ">Mis datos</a>
                        <!--Cliente-->

                        {% if user.is_cliente %}
                        <a href="{% url 'miResidente'  %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'miResidente'  %}  active {% endif %}">Residentes</a>
                        <a href="{% url 'miPagos'  %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'pagos' %}  active {% endif %}">Pagos</a> {% endif %}

                        <!--Medico-->
                        {% if user.is_medico %}

                        <a href="{% url 'listaPacientes'  %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'listaResidente' %}  active {% endif %}">Pacientes</a>
                        <a href="#" class="list-group-item list-group-item-action">Contrato</a>{% endif %}
                        <!--Administrador-->
                        {% if user.is_admin %}
                        <a href="{% url 'peticiones' %}" class="list-group-item list-group-item-action 
                        {% if request.resolver_match.url_name == 'peticiones'  %}  active {% endif %} {% if request.resolver_match.url_name == 'pDetalle'  %}  active {% endif %}">Peticiones</a>
                        <a href="{% url 'medicos'  %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'medicos' %}  active {% endif %}">Medicos</a>
                        <a href="{% url 'clientes'  %}" class="list-group-item list-group-item-action 
                        {% if request.resolver_match.url_name == 'clientes' %}  active {% endif %}
                        {% if request.resolver_match.url_name == 'modificarCliente' %}  active {% endif %}
                        {% if request.resolver_match.url_name == 'agregarCliente' %}  active {% endif %}">Clientes</a>
                        <a href="{% url 'admins'  %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'admins' %}  active {% endif %}">Administradores</a>{% endif %}


                        <!--Comun-->
                        <a href="{% url 'seguridad'  %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'seguridad' %}  active {% endif %}">Seguridad</a>


                        <div class="pt-5 pb-3">
                            <hr>
                            <a href="{% url 'perfil'  %}" class="list-group-item list-group-item-action">Avisos legales</a>
                            <a href="{% url 'perfil'  %}" class="list-group-item list-group-item-action">Reglamento interno</a>

                        </div>




                    </div>



                </div>

            </div>

            <div class="col-lg-9">

                <div class="card card-body shadow-sm">

                    {% block contendioPerfil %} {% endblock contendioPerfil %}


                </div>

            </div>

        </div>




    </div>



    {% endblock contenido %}














</body>

</html>