{% extends "templatesUsuario/basePerfil.html" %}{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block titulo %}
    <link rel="stylesheet" href="{% static 'css/cssLanding/contacto.css' %}">
    <title>Perfil</title>

    {% endblock titulo %}
</head>

<body>
    {% block contendioPerfil %}

    <div class="text text-center" style="color: rgb(89, 79, 79);">
        <h1>Mis datos</h1>
        <hr>
    </div>

    <div>


        <form action="" method="POST">
            <div class="ms-3">
                <h6>Datos Personales</h6>
            </div>
            <div class="card card-body mb-4 shadow-sm">
                <div class="row">
                    <div class="col-md-12 mb-3 mt-2">
                        <label for="">Rut:</label>
                        <input type="text" placeholder="{{user.rut}}" class="form-control" readonly>
                    </div>

                    <div class="col-md-6 mb-3 ">
                        <label for="first_name">Nombre:</label>
                        <input type="text" name="first_name" value="{{user.first_name}}" placeholder="Nombre" class="form-control" required pattern="[a-zA-Z]+(?:\s[a-zA-Z]+)?" title="Solamente Letras">
                    </div>

                    <div class="col-md-6 mb-3 ">
                        <label for="last_name">Apellidos:</label>
                        <input type="text" name="last_name" value="{{user.last_name}}" placeholder="Apellidos" class="form-control" required pattern="[a-zA-Z]+(?:\s[a-zA-Z]+)?" title="Solamente Letras">
                    </div>
                </div>

            </div>
            <div class="ms-3">
                <h6>Datos de contacto</h6>
            </div>

            <div class="card card-body shadow-sm mb-4">
                <div class="row">
                    <div class="col-6 mt-2 mb-3 ">
                        <label for="email">Email:</label>
                        <input type="email" name="email" value="{{user.email}}" placeholder="Correo Electrónico" class="form-control" required>
                    </div>
                    <div class="col-6 mt-2 mb-3">
                        <label for="last_name">Telefono:</label>
                        <input type="text" name="telefono" value="{{user.telefono}}" placeholder="Teléfono" class="form-control" required pattern="[0-9]{9}" title="Ejemplo: 912345678">
                    </div>
                </div>
            </div>



            {% if user.is_cliente %}{% csrf_token %}
            <div class="ms-3">
                <h6>Dirección</h6>
            </div>


            <div class="card card-body shadow-sm mb-4">
                <div class="row">
                    <div class="col-12 mt-2 mb-3 ">
                        <label for="direccion">Direccion:</label>
                        <input type="text" name="direccion" value="{{user.cliente.direccion}}" placeholder="Direccion" class="form-control">
                    </div>
                </div>
            </div>






            <div class="container-fluid">
                <div class="row">
                    <div style="color: rgb(177, 17, 17);">
                        {{error}}
                    </div>


                    <div class="col">
                        <div class="text-start ">
                            <button class="btn btn-danger "><a href="{% url 'borrarUsuario' %}" style="text-decoration: none; color: white;">Eliminar Cuenta</a></button>


                        </div>

                    </div>
                    <div class="col">
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Actualizar Datos</button>


                        </div>

                    </div>

                </div>










            </div>
            {% endif %}
    </div>
    <div>
        {% if user.is_admin %}
        <h1> Hola administrador {{user.first_name}}</h1>
        <h2>{{user.last_name}} {{user.rut}}</h2>

        {% endif %}
    </div>
    <div>
        {% if user.is_medico %}
        <h1> Hola Medico {{user.first_name}}</h1>
        <h2>{{user.last_name}} {{user.rut}}</h2>

        {% endif %}
    </div>





    </form>





    {% endblock contendioPerfil %}














</body>

</html>