{% extends "templatesLanding/base.html" %} {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/login.css' %} ">



    <title>Registrate</title>
</head>

<body class="background_login">
    {% block contenido %}{% load crispy_forms_tags %}
    <div class="container">

        <div class="col-12 col-md-6 offset-md-3 pt-5 pb-5">

            <div class=" card card-body text-center shadow">
                <div class="col text-center mb-3 ">
                    <img src="{% static 'img/imgLanding/img/logo.png' %}" width="230px" height="250px" alt="">
                    <h2>Regístrate</h2>

                </div>

                <form action="" method="post">

                    {{cliente_form.errors}}{% csrf_token %}
                    <div class="text-start">
                        {{ usuario_form | crispy }} {{ cliente_form | crispy }}

                    </div>




                    <input type="submit" value="Registrate" class="mt-5 mb-5 btn btn-primary">


                </form>

            </div>



        </div>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        {% if messages %} {% for m in messages %}
        <script>
            Swal.fire({
                "title": "Éxito",
                "text": "{{m}}",
                "icon": "success"
            })
        </script>
        {% endfor %} {% endif %}{% endblock contenido %}



</body>

</html>