{% extends "templatesUsuario/basePerfil.html" %}{% load static %}



<head>
    {% block titulo %}
    <title>Pacientes</title>

    {% endblock titulo %}
</head>

<body>
    {% block contendioPerfil %}

    <div class="text-center">
        <h1>Pacientes</h1>
        <hr>


    </div>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Rut</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
            </tr>
        </thead>
        <tbody>

            {% for re in residenteData %} {% if re.esta_activo %}
            <tr>
                <th scope="row">{{re.rut}}</th>
                <td>{{re.nombre}}</td>
                <td>{{re.apellido}} </td>
                <td> <a class="btn btn-primary btn-sm" href="../pacientes/historial/{{re.id}}">Historial</a></td>
                <td> <a class="btn btn-primary btn-sm" href="../pacientes/agregarControl/{{re.id}}">Agregar control</a></td>
            </tr>

            {% endif %} {% endfor %}
        </tbody>

    </table>

    {% endblock contendioPerfil %}












</body>