{% extends "templatesUsuario/basePerfil.html" %}{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block titulo %}
    <link rel="stylesheet" href="{% static 'css/cssLanding/contacto.css' %}">
    <title>Perfil</title>

    {% endblock titulo %}
</head>

<body>
    {% block contendioPerfil %}

    <div class="text text-center" style="color: rgb(89, 79, 79);">
        <h1>Portal de Pagos</h1>
        <hr>
    </div>

    <div>


       



            {% if user.is_cliente %}{% csrf_token %}





            <div class="container-fluid">
                <div class="row">

                    <div class="col">
                        <div class="text-start ">
                            <button type="submit" class="btn btn-danger ">Cancelar Pago</button>


                        </div>

                    </div>
                    <div class="col">
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Pagar</button>


                        </div>

                    </div>

                </div>








            </div>
            {% endif %}
    </div>
    <div>
        {% if user.is_admin %}
        <h1> Hola administrador {{user.first_name}}</h1>
        <h2>{{user.last_name}} {{user.rut}}</h2>

        {% endif %}
    </div>
    <div>
        {% if user.is_medico %}
        <h1> Hola Medico {{user.first_name}}</h1>
        <h2>{{user.last_name}} {{user.rut}}</h2>

        {% endif %}
    </div>





    </form>




    {% endblock contendioPerfil %}
