{% extends "templatesUsuario/basePerfil.html" %}{% load static %} {% block titulo %}
<title>Enviar solicitud</title>

{% endblock titulo %}

<body>
    {% block contendioPerfil %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="text-center">
            <h1 class="mb-3">
                Formulario de agregar residente
                <hr>
            </h1>

        </div>

        <div class="card card-body mb-4">
            <div class="row">
                <div class="col-md-12 mb-3"> <label for="">Rut residente:</label> {{form.rut}}
                </div>
                <div class="col-md-6 mb-3"> <label for="">Nombre residente:</label> {{form.nombre}}
                </div>
                <div class="col-md-6 mb-3"> <label for="">Apellidos residente:</label> {{form.apellido}}
                </div>
                <div class="col-md-12 mb-3"> <label for="">¿Cuenta con alguna enfermedad cronica? Cuentanos cual</label> {{form.enfermedad}}
                </div>
                <div class="col-md-12 mb-3"> <label for="">¿Se encuentra tomando algun medicamento?</label> {{form.medicamento}}
                </div>

                {% if Cerror %}
                <div class="alert alert-danger  ">
                    {% for field,errors in form.errors.items %} {% for error in errors %}
                    <ul>
                        <li>{{error}}</li>
                    </ul>

                    {% endfor %} {% endfor %}

                </div>

                {% endif %}

            </div>
        </div>


        <div class="text-end me-5">
            <button class="btn btn-primary" type="submit">Enviar
            </button>
        </div>




    </form> {% endblock contendioPerfil %}



</body>