 {% extends "templatesUsuario/basePerfil.html" %}{% load static %}



<head>
    {% block titulo %}
    <title>Historial</title>

    {% endblock titulo %}
</head>

<body>
    {% block contendioPerfil %}
    <div class="text-center">
        <h1>Lista controles de {{residente.nombre}} {{residente.apellido}}</h1>
        <hr>
    </div>
    <div class="text-start">
        <a class="btn btn-primary btn-sm" href="{% url 'listaPacientes' %}">Volver </a>
        <hr>
    </div>

    <div class="table-responsive-sm">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Motivo</th>
                    <th scope="col">Diagnostico</th>
                    <th scope="col">Tratamiento</th>

                </tr>
            </thead>
            <tbody>

                {% for co in controles %}

                <tr>
                    <th scope="row">{{co.fecha_control}}</th>
                    <td style="  word-break: break-all; width: auto; overflow: hidden;">{{co.motivo_visita}}</td>
                    <td style="  word-break: break-all;  width: auto; overflow: hidden; ">{{co.diagnostico}}</td>
                    <td style="  word-break: break-all;  width: auto; overflow: hidden;">{{co.tratamiento}} </td>
                </tr>

                {% endfor %}
            </tbody>

        </table>

    </div>




    {% endblock contendioPerfil %}

</body>