{% extends "templatesUsuario/basePerfil.html" %}{% load static %}


<head>
    {% block titulo %}
    <title>Control medico</title>

    {% endblock titulo %}
</head>

<body>
    {% block contendioPerfil %}


    <div class="text-center">
        <h1>Control de {{residente.nombre}} {{residente.apellido}} Rut: {{residente.rut}} </h1>

        <hr>
    </div>
    <div class="text-start">
        <a class="btn btn-primary " href="{% url 'listaPacientes' %}"> Volver</a>

        <hr>
    </div>
    <form action="" method='POST' class="mt-2 mb-3">
        {% csrf_token %}
        <div class="mx-5">
            {{form}}

        </div>
        <div class="text-end me-5 mt-3">
            <button class="btn btn-primary" type="submit">Agregar</button>

        </div>


    </form>



    {% endblock contendioPerfil %}