.img-header {
    background: url(../../img/imgLanding/banner/banner4.png) no-repeat center;
    height: 600px;
    background-color: black;
    background-size: cover;
}

.contactBtn {
    color: white;
    background-color: rgb(40, 100, 169);
    border: solid 1px rgb(40, 100, 169);
    border-radius: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 30px;
    padding-right: 30px;
}

.img-bottom {
    background: url(../../img/imgLanding/banner/banner5.png) no-repeat center;
    height: 600px;
    background-color: black;
    background-size: cover;
}